*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
header{
    display:flex;
    border:1px solid transparent;
    border-radius: 200px;
    margin:30px;
    padding:12px;
    align-items: center;
    gap: 10px;
    height:120px;
    background-color:cornsilk;
    }
header img{
    border-radius:200px;
    border:1px solid transparent;
    height:100px;
    width:100px ;
}
.back_img{
    background-image: url(https://image.freepik.com/free-photo/digital-technology-background_325164-390.jpg);
    height:200px;
    width:100%; 
    padding:10px;   
}
header h5{
    color:gray;
}
.contact_detail{
    display: flex;
    align-items:center;
    margin-left:auto;
    gap:40px;
}
.contact_detail a{
    height:40px;
    color:black;
    align-items: center;
    text-decoration: none;
    border:2px solid black;
    border-radius:18px;
    padding:10px;
    box-shadow:black 2px 2px 2px;
}
.home{
    display:flex;
    height:400px;
    width:100%;
    gap:10px;
    padding:20px;
    word-spacing:5px;
    background-image: url(https://img.freepik.com/premium-vector/modern-material-background_643365-269.jpg);
    border-radius: 20px;
    color:white;
}
.home img{
    border-radius:100px 20px;
    border:1px solid transparent;
    height:350px;
    width:300px;
    box-shadow:black 3px 2px 2px 2px;
}
.home a{
    height:40px;
    color:black;
    align-items: center;
    text-decoration: none;
    border:2px solid black;
    background-color: whitesmoke;
    border-radius:18px;
    padding:10px;
    box-shadow:black 2px 2px 2px;
}
.home h5,h1{
    font-family: elephant;
}
.home p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:grey;
}